@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Homemade+Apple&display=swap');



header {
 height:8vh;
 display:flex;
 justify-content: center;
 font-family: 'Homemade Apple', 'Dosis';
 font-size:24px;
 padding-top:2%;
 color:#03a9f4;
}
body {
  background-color: #f3f1f7;
}


.socialPosts-container {

  height:100vh;
  width:100%;
  font-family: 'Dosis';
}

.socialPosts-container button {
  font-family: 'Dosis';
  height: fit-content;
  border: none;
  height:30px;
  margin-top:1em;
}

main {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.socialPosts-container > div {
  width:50%;
  border:2px solid #000000;
 position: relative;
 left:50%;
 transform: translateX(-50%);
 border-radius:1em;
 display:flex;
 justify-content: center;
 align-items: center;
 padding-top: 1em;
padding-bottom: 0.8em; 
background-color: #79c5e8;
}

.socialPosts-container > main > button {
  width:20%;
  background-color: #03a9f4;
  border-radius: 1em;
  color:white;

}

ul {
  border:2px solid black;
  width:50%;
  border-radius: 2em;
  padding-top:1%;
  padding-bottom:2%;
  margin-left: 0;
  padding-left: 5em;
}


li {
  list-style-type: none;
}

form > label:nth-child(1) {
margin: 0;
}

form > label:nth-child(2) {
margin:0;
}

div > form > button {
  border-radius:1em;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

li {
  display:flex;
  align-items: center;
}

form {
  display:flex;
  flex-direction: column;
  width:90%;
}
form > label {
  display:flex;
  flex-direction: column;
}

input[type=text]:first-of-type {
  border-radius:1em;
  height:30px;
}

.cancelBtn {
  height:fit-content;
  width:fit-content;
  margin:0;
  padding:0;
  background-color: #79c5e8;
  position:fixed;
  top:-0.8em;
  right:0.2em;
}